@import "variables";
@import url(utility.scss);

// MARK: General
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-sans;
  line-height: 1.6;
}

// MARK: Header
header {
  margin: 1.5rem auto;

  .logo {
    width: 120px;
  }

  nav {
    ul {
      gap: 1rem;

      a {
        text-decoration: none;
        color: inherit;
        padding: 0.5rem 1rem;

        &:hover {
          background: #f1f1ee;
        }
      }
    }
  }
}

// MARK: Main
main {
  .hero {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  h1 {
    font-size: 3rem;
    line-height: 1.3;
    font-weight: 300;
  }
}

// MARK: Responsive
@media screen and (max-width: 768px) {
  header {
    .container-sm {
      flex-direction: column;
      gap: 1.5rem;
    }
  }

  main {
    h1 {
      font-size: 1.5rem;
    }
    .hero {
      height: 20vh;
    }
  }
}
