@import url(utility.scss);

// MARK: General
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Teachers", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  line-height: 1.6;
}

// MARK: Header
header {
  margin: 1.5rem auto;

  .logo {
    width: 120px;
  }

  nav {
    ul {
      gap: 1rem;

      a {
        text-decoration: none;
        color: inherit;
        padding: 0.5rem 1rem;

        &:hover {
          background: #f1f1ee;
        }
      }
    }
  }
}

// MARK: Responsive
@media screen and (max-width: 768px) {
  header {
    .container {
      flex-direction: column;
      gap: 1.5rem;
    }
  }
}
