@import "variables";

// ====== General ======
.active {
  background: $highlight;
  font-weight: 700;
}

.bg-primary {
  background: $highlight;
}

.italic {
  font-style: italic;
}

// ====== Lists ======
.list-none {
  list-style-type: none;
}

// ====== Flex ======
.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

// ====== Container ======
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.container-sm {
  @extend .container;
  max-width: 900px;
}

.container-lg {
  @extend .container;
  max-width: 1400px;
}
